.root {
  margin-left: auto;
  margin-right: auto;
}
.container {
  padding-left: var(--pad-left);
  padding-right: var(--pad-right);
}
.header-wrap {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-shade);
}
.logo-svg {
  /* height : 2.5rem; */
  width: 13.24rem;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  text-transform: uppercase;
}
.search-wrap {
  height: 4.5rem;
  background-color: var(--light-accent);
  display: flex;
  justify-content: right;
  align-items: center;
}
.search-input-wrap {
  position: relative;
  width: 70%;
}
.search-input {
  height: 2.875rem;
  width: 100%;
  background-color: var(--light-shade);
  background-image: url("../images/icon-search.svg");
  box-sizing: border-box;
  background-position: 1.25rem 50%;
  background-repeat: no-repeat;
  border-radius: 0.625rem;
  border: none;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: var(--main-font);
  font-size: 1rem;
  cursor: pointer;
}
.search-input::placeholder {
  color: var(--dark-accent);
}
.search-input:focus-visible {
  outline: 0.125rem solid var(--dark-accent);
}
.search-input-wrap::before {
  content: "";
  position: absolute;
  top: 0.813rem;
  right: 1.375rem;
  width: 1.25rem;
  height: 1rem;
  background-image: url("../images/icon-remove-opt.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.tools-section {
  display: flex;
  flex-direction: column;
  background-color: var(--light-shade);
  padding: 6.94rem var(--pad-left);
}
.title-container {
  width: 100%;
  margin-bottom: 6rem;
  text-align: right;
}
.tools-title {
  color: var(--info-color);
  width: 100%;
  display: inline-block;
  position: relative;
}
.tools-title::after {  /* bottom line in the h2*/
  content: "";
  position: absolute;
  bottom: 0.38rem;
  right: -13.7rem;
  width: 19.5rem;
  height: 1px;
  background-color: var(--info-color);
} 
.tools-grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  gap: 2.25rem;
  justify-content: space-evenly;
}
.grid-item {
  width: 16rem;
  height: 9.125rem;
  text-align: center;
  border-radius: 0.62rem;
  box-shadow: 0.4rem 0.4rem 0.25rem rgb(0, 0, 0, 0.25);
  transition: opacity 0.2s ease;
  position: relative;
}
.grid-item a {
  color: var(--light-shade);
  font-weight: 800;
  font-size: 1.75rem;
  align-content: center;
  /* to make the link navigation available when hovering over the div grid-item:  */
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.grid-item:nth-child(odd) {
  background-color: var(--dark-accent);
}
.grid-item:nth-child(even) {
  background-color: var(--dark-shade);
}
.grid-item:hover {
  opacity: 0.75;
}
/* SLIDER */
.tools-slider-container {
  background-color: var(--dark-shade);
  padding-top: 6.94rem;
  padding-bottom: 6.94rem;
}
.tools-slider-container .title-container {
  margin-bottom: 3.375rem;
}
.slider-title {
  color: var(--light-shade);
  text-align: left;

}
.slider-title::after {
  content: "";
  position: absolute;
  bottom: 0.38rem;
  left: -15.6rem;
  width: 24.6rem;
  height: 1px;
  background-color: var(--light-shade);
}
/* SWIPER */
.swiper {
  width:100%;
  height: 45.313rem;
}
.swiper-slide{
  margin-left: 3px;

}
.swiper-button-next, 
.swiper-button-prev{
  color: var(--light-accent);
  font-weight: 900;
  transition: filter 0.5s ease;
}
.swiper-button-next:hover, 
.swiper-button-prev:hover{
filter: blur(2px);
}
.swiper-button-wrapper{
  width: 59px;
  height: 59px; /*calc(var(--swiper-navigation-size)+10px);*/
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: -45px;
  z-index: 10;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: filter 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.swiper-button-wrapper-prev{
  right: auto;
  left: var(--swiper-navigation-sides-offset, 10px);
}
.swiper-button-wrapper:hover{
  border-color: var(--light-accent);
 
  filter: blur(2px);
}
.swiper-pagination-bullet{
  border: 3px solid white;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  transition: filter 0.5s ease, opacity 0.5s ease;
}
.swiper-pagination-bullet:hover{
  filter: blur(2px);
  opacity: 0.8;
}
.swiper-pagination-bullet-active{
  background-color: white;
}
.swiper-pagination-bullet-active:hover{
  filter: none;
  opacity: 1;
}

.slide-card{
  box-sizing: border-box;
  margin-top: 2.188rem;
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  padding-right: 6%;
  background-color: var(--light-shade);
  border-radius: 10px;
  width: auto; 
  height: 38.688rem;
  box-shadow: 0 0.25rem 0.25rem rgb(0, 0, 0, 0.25), 0.125rem 0.125rem 0.25rem rgb(0, 0, 0, 0.25);
  
}
.card-links{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.313rem 2.626rem 2.626rem 2.626rem;
  margin-bottom: 2.188rem;
  background-color: var(--light-shade);
  border-radius: 0 0 10px 10px;
  height: 19.875rem;
  box-shadow: 0 0.25rem 0.25rem rgb(0, 0, 0, 0.25), 0 0.375rem 3.125rem rgb(0, 0, 0, 0.25);
}
.card-links::before{
  content: '';
  position: absolute;
  top: -2.188rem;
  left: 0;
  z-index: 1110;
  width: 100%;
  height: 2.125rem;
  background-color: var(--dark-shade);
  border: 1px solid rgb(217, 217, 217, 0.5);
  border-radius: 10px 10px 0 0;
}
.slide-card-title{
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--info-color);
  padding-bottom: 0.813rem;
}
.icon::before{
content: '';
display: inline-block;
background-repeat: no-repeat;
background-position: center;
margin-right: 0.5rem;
height: 0.95rem;
}
.icon-html::before{
  background-image: url('../images/icon-html.svg');
  background-size: cover;
  width: 2.625rem;
}
.icon-css::before{
  background-image: url('../images/icon-css.svg');
  width: 1.125rem;
}
.card-link-list{
  color: var(--dark-shade);
  font-size: 0.875rem;
  list-style-position: inside;
}
.link-item-name{
  display: inline-block;
  margin-bottom: 0.5rem;
}
.card-link-item{
  margin-bottom: 1rem;
}
.card-link-item a{
  display: block;
  font-weight: 300;
}
.card-link-list-btn{
  width: 11.25rem;
  height: 2.375rem;
  align-self: center;
  justify-self: flex-end;
  border: none;
  color: var(--dark-shade);
  font-size: 1rem;
  border-radius: 1.875rem;
  box-shadow: 0.063rem 0.063rem 0.25rem rgb(0, 0, 0, 0.25), -0.063rem -0.063rem 0.25rem rgb(0, 0, 0, 0.25);
  transition: background-color 0.4s ease, color 0.4s ease;
}
.card-link-list-btn:hover{
background-color: var(--dark-shade);
color: var(--light-shade);
}
.slide-card-descript{
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.card-descript-text{
  font-weight: 300;
  color: var(--dark-shade);
}