/* COLOR SCHEME */
:root{
    --light-shade: rgb(249,249,250);
    --light-accent: rgb(205,199,203);
    --info-color: rgb(238,199,124);
    --dark-accent: rgb(127,161,171);
    --dark-shade: rgb(241,135,88);
    --active-color: rgb(244,67,54);
    --default-bcg: rgb(255,255,255);
    --default-text-color: rgb(0,0,0);
    --pad-right: 13.75rem;
    --pad-left: 13.75rem;
    --main-font: "Roboto", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

a {
    cursor: pointer;
    color: var(--dark-shade);
    text-decoration: none;
}

/* li{
    list-style: none;
} */
ul{
    list-style: none;
}
h2{
    font-size: 1.825rem;
    text-transform: uppercase;
    font-weight: 600;
}

a:hover {
    color: var(--active-color);
}

.active-link{
    color: var(--active-color);
}

a::after {
    color: ;
}

body {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.main-header {
    display: flex;
    flex-direction: row;
}

.logo {

}

.header-nav {
    justify-content: space-between;
}
