/* COLOR SCHEME */
:root{
    --light-shade: rgb(249,249,250);
    --light-accent: rgb(205,199,203);
    --info-color: rgb(238,199,124);
    --dark-accent: rgb(127,161,171);
    --dark-shade: rgb(241,135,88);
    --active-color: rgb(244,67,54);
    --default-bcg: rgb(255,255,255);
    --default-text-color: rgb(0,0,0);
    --pad-right: 13.75rem;
    --pad-left: 13.75rem;
    --main-font: "Roboto", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    padding-left: var(--pad-left);
    padding-right: var(--pad-right);
}

a {
    cursor: pointer;
    color: var(--dark-shade);
    text-decoration: none;
}

.container {
    padding-left: var(--pad-left);
    padding-right: var(--pad-right);
}


/* HEADER section */

.header-wrap {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-shade);
}

.logo-svg {
    /* height : 2.5rem; */
    width: 13.24rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-transform: uppercase;
}

a:hover {
    color: var(--active-color);
}

.active-link{
    color: var(--active-color);
}

/* a::after {
    color: ;
} */

/* li{
    list-style: none;
} */

ul {
    list-style: none;
}

/* FOOTER */

footer {
    height: 27.38rem;
    padding-top: 2.5rem;
    padding-left: var(--pad-left);
    padding-right: var(--pad-right);
    background-color: var(--light-shade);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    row-gap: 1.81rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-evenly;
}


/* Footer LEFT section */

/*
.footer-left {
    display: flex;
    flex-direction: column;
}
*/

.item1 {
    grid-column: 1;
    grid-row: 1;
}

.footer-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--dark-shade);
    max-width: 18.7rem;
    height: 3rem;
}

.item2 {
    grid-column: 1;
    grid-row: 2;
}

.input-email {
    height: 3rem;
    width: 20.38rem;
}

.item3 {
    grid-column: 1;
    grid-row: 3;
}

.btn-yellow {
    width: 10.62rem;
    height: 3rem;
    background-color: var(--info-color);
    border-radius: 1.88rem;
    border: none;
    color: var(--light-shade);
}

.item4 {
    grid-column: 1;
    grid-row: 4;
}

/* Footer MIDDLE */

/*
.footer-middle {
    display: flex;
    flex-direction: column;
}
*/

.item5 {
    grid-column: 2;
    grid-row: 1;
}

.footer-h3 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.69rem;
    color: var(--info-color);
    text-transform: uppercase;
}

.item6 {
    grid-column: 2;
    grid-row: 2;
}

.footer-nav {
    list-style-type: none;
    row-gap: 0.625rem;
}

.footer-nav-link {
    font-family: var(--main-font);
    color: var(--dark-shade);
    font-size: 1rem;
    line-height: 2rem;
}

.footer-nav-link:hover {
    font-family: var(--main-font);
    color: var(--active-color);
    font-size: 1rem;
    line-height: 2rem;
}

/* Footer RIGHT */

/*
.footer-right {
    display: flex;  
}
*/

.item7 {
    background-image: url(../images/logo-footer.svg);
    background-repeat: no-repeat;
    grid-column: 3;
    grid-row: 1 / -1;   /* Stretches to all rows */
}